<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="angular.min.js"></script>
</head>

<body>
    <h3>AngularJS Filters</h3>
    <!-- AngularJS provides filters to transform data: 
    currency Format a number to a currency format. 
    date Format a date to a specified format. 
    filter Select a subset of items from an array. 
    json Format an object to a JSON string. 
    limitTo Limits an array/string, into a specified number of elements/characters. 
    lowercase Format a string to lower case. number Format a number to a string.
    orderBy Orders an array by an expression. uppercase Format a string to upper case. -->

    <div ng-app="myApp" ng-controller="personCtrl">

        <p>The last name is {{ lastName | uppercase }}</p>
        <p>The first name is {{ firstName | lowercase }}</p>
        <p>Looping with objects:</p>
        <ul>
            <li ng-repeat="x in names | orderBy:'country'">
                {{ x.name + ', ' + x.country }}
            </li>
        </ul>
        <ul>
            <li ng-repeat="x in names | filter : 'i'">
                {{ x }}
            </li>
        </ul>

        <hr>
        <p>Type a letter in the input field and watch how the list below changes:</p>

        <p>
            <input type="text" ng-model="test">
        </p>

        <ul>
            <li ng-repeat="x in namesonly | filter:test">
                {{ x }}
            </li>
        </ul>

        <p>The list will only consists of names matching the filter.</p>
        <hr>
        <h1>Price: {{ price | currency : "€" : 2}}</h1>
        <hr>
        <p>Click the table headers to change the sorting order:</p>
        <table border="1" width="100%">
            <tr>
                <th ng-click="orderByMe('name')">Name</th>
                <th ng-click="orderByMe('country')">Country</th>
            </tr>
            <tr ng-repeat="x in names | orderBy:myOrderBy">
                <td>{{x.name}}</td>
                <td>{{x.country}}</td>
            </tr>
        </table>
        <hr>
        <p>Make your own filters.</p>
        <p>This filter, called "myFormat", will uppercase every other character.</p>
        <li ng-repeat="x in namesonly">
            {{x | myFormat}}
        </li>
    </div>

    <script>
        var app = angular.module('myApp', []);
        app.controller('personCtrl', function ($scope) {
            $scope.firstName = "John",
                $scope.lastName = "Doe",
                $scope.names = [{
                        name: 'Jani',
                        country: 'Norway'
                    },
                    {
                        name: 'Carl',
                        country: 'Sweden'
                    },
                    {
                        name: 'Margareth',
                        country: 'England'
                    },
                    {
                        name: 'Hege',
                        country: 'Norway'
                    },
                    {
                        name: 'Joe',
                        country: 'Denmark'
                    },
                    {
                        name: 'Gustav',
                        country: 'Sweden'
                    },
                    {
                        name: 'Birgit',
                        country: 'Denmark'
                    },
                    {
                        name: 'Mary',
                        country: 'England'
                    },
                    {
                        name: 'Kai',
                        country: 'Norway'
                    }
                ],
                $scope.namesonly = [
                    'Jani',
                    'Carl',
                    'Margareth',
                    'Hege',
                    'Joe',
                    'Gustav',
                    'Birgit',
                    'Mary',
                    'Kai'
                ];
            $scope.price = 58,
                $scope.orderByMe = function (x) {
                    $scope.myOrderBy = x;
                }
        });
        app.filter('myFormat', function () {
            return function (x) {
                var i, c, txt = "";
                for (i = 0; i < x.length; i++) {
                    c = x[i];
                    if (i % 2 == 0) {
                        c = c.toUpperCase();
                    }
                    txt += c;
                }
                return txt;
            };
        });
    </script>
</body>

</html>